<!DOCTYPE html>
<html>
<body>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


    <header>
      <div class="header">
        <p> Some pet project </p>
        <p><%= link_to "Add article", new_article_path %></p>
      </div>
  </header>
  <div id="content">
    <div id="menu">
      <p><a href="http://192.168.105.140"><h1>Articles</h1></a></p>
    </div>
    <%= yield %>
  </div>
  <footer>
  <div class="footer">
    <p class="copyright"> 2022 Zol</p>
  </footer>
</body>
</html>
